body{
	margin: 0;
	overflow: hidden;
}
#webGL-container{
	z-index: 1;
}


#log{
    display: none;
    position: fixed;
    top: 82%;
    right: 30px;
	text-align: center;
	color: white;
    min-width: 200px;
	width: 20%;
	height: 100px;
    padding: 10px 0 0 0;
	background-color: rgba(0,0,0,0.85);
    border-radius: 6px;
    transition: 0.3s;
}


.help{
    position: fixed;
    z-index: 2;
    margin: auto;
    right: 0;
    top:15%;
    height: 400px;
    width: 220px;
    padding: 20px 0 0 0;
    background-color: rgba(0,0,0,0.85);
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    transition: 0.2s;
}
.help span.headings{
    font-size: 20px;
    display: block;
    padding: 5px 8px 5px 20px;
    color: white;
    text-shadow: 0 0 2px #FFF;
}
.help p{
    font-size: 20px;
    display: block;
    padding: 5px 8px 5px 20px;
    color: white;
    text-shadow: 0 0 2px #FFF;
}
.help a {
    padding: 5px 8px 5px 20px;
    text-decoration: none;
    font-size: 18px;
    color: gray;
    display: block;
}
.help a:hover {
    text-shadow: 0 0 2px #FFF;
    color: white;
    transition: 0.2s;
}
.helpopener{
    top:40%;
    bottom: 40%;
    right: 0;
    padding: 20px 0 20px 0;
    position: fixed;
    display: block;
    width: 0;
    height: 35px;
    background-color: rgba(0,0,0,0.85);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-size: 20px;
    transition: 0.2s;
}


#changeModes{
    top: 0;
    left: 0;
	margin: auto;
	background: rgba(0,0,0,0.85);
    border-bottom-right-radius: 10px;
	position: fixed;
	height: 90px;
	width: 150px;
	z-index: 1000;
}

#changeModes a{
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    line-height: 28px;  
    text-decoration: none;
    display: block;
    color: gray;
    height: 30px;
    padding: 7px 15px 7px 5px;
}

#changeModes a:hover{
    text-shadow: 0 0 2px #FFF;
    color: white;
    transition: 0.2s;
}

.sidenav {
    height: 400px; 
    width: 0; 
    position: fixed; 
    z-index: 999;
    margin: auto auto auto 0;
    top: 15%;
    background-color: rgba(0,0,0,0.7);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow-x: hidden; 
    padding: 20px 0 0 0;
    transition: 0.3s; 
}

.sidenav hr{
    width: 90%;
    background: linear-gradient(to right, red , white, red);
}

.sidenav span.headings{
    font-size: 20px;
    display: block;
    padding: 5px 8px 5px 20px;
    color: white;
    text-shadow: 0 0 2px #FFF;
}

.sidenav a {
    padding: 5px 8px 5px 20px;
    text-decoration: none;
    font-size: 20px;
    color: gray;
    display: block;
}

.sidenav a:hover {
    text-shadow: 0 0 2px #FFF;
    color: white;
    transition: 0.2s;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}